@sitecore-content-sdk:registry=https://npm.cloudsmith.io/xmcloud-test/xmcloud-test/
//npm.cloudsmith.io/xmcloud-test/xmcloud-test/:_authToken=${CLOUDSMITH_API_KEY}

registry=https://registry.npmjs.org/
always-auth=true